h1 {
    color: black;
}

body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-color: azure;
}

td {
    width: 100px;
    height: 100px;
    background-color: beige;
    font-size: 75px;;
    color: black;
    text-align: center;
}